@model List<OpenShiftCoreMySqlDemo2.Models.Test>
<table>
    <tr>
        <td> Id</td>
        <td> Name</td>
        <td> Contact</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @item.Id</td>
            <td> @item.Name</td>
            <td> @item.Contact</td>
        </tr>
    }

</table>